# Core Python libraries
numpy
opencv-python
Pillow
matplotlib

# Text processing
beautifulsoup4
requests
textwrap3

# Google Cloud clients
google-cloud-vision
google-cloud-translate
google-auth
google-auth-oauthlib

# Streamlit app
streamlit

# Lama Cleaner (optional)
lama-cleaner==1.2.0

# Others
typing_extensions
