# Core Python libraries
numpy
opencv-python
Pillow
matplotlib

# Text processing
beautifulsoup4
requests

# Google Cloud clients
google-cloud-vision
google-cloud-translate
google-auth
google-auth-oauthlib

# Streamlit app
streamlit

# Others
typing_extensions